
extends layout
block content
  div(id="header") 
  p(id="pic_fornt") Thanks for shopping with us, #{user_name} !
  br
  br
  br
  br
  br
  br
  div(id="body_orders")
    p(id="Thank") Thanks for being our Customer
    br
    br
    p Here are your previous orders:
    ul
      - var regExp1 = new RegExp("^([B][A-Z0-9]{9}|\\d{9}[X$]|\\d{10})$", "g");
      - var regExp2 = new RegExp("^(\\d{8,9})$", "g");
      each current_order, i in all_orders
        li=  'Order ' + (i+1) + ' : '
        ul 
          each item, j in current_order
            console.log(regExp1.exec(item))
            if regExp1.exec(item)
              li 
                div
                  a(href='http://www.amazon.com/dp/'+item)=item
            else if regExp2.exec(item)
              li 
                div
                  a(href='http://www.walmart.com/ip/'+item)=item
            else
              li= item
    a(href='/') Return to shopping
