extends layout
block content
  
  
  form(method='POST' action='/end_login' id="end_login")
    h1 Sign in
    label(for='user_name') Enter your user name to begin Shopping
    br
    p(id="warn") #{message}
    input(type='text' id='user_name_f' name='user_name' placeholder= " Enter Your Name")
    br
    button(type='submit' id ='botn2') Click to Shop!
