doctype html
head
  meta(charset='UTF-8')
  title hello-counter-4a.pug
body
  p Hello World!
  p
    | This page has been visited
    |  #{visits}
    |  times since the most recent
    |  application restart.
